@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=K2D:wght@400;500;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  /* background-color: #eeeeee; */
  min-height: 3000px;
}

.wrapper {
  max-width: 90rem;
  margin: 0 auto;
}

.landing-title {
  font-family: 'K2D', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.landing-animasyon-img {
  animation: topBottom 3s ease-in-out infinite alternate;
}

@keyframes topBottom {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}
