@tailwind base;
@tailwind components;
@tailwind utilities;

#landing {
  background-image: url('../images/landingBackground.svg');
  background-repeat: no-repeat;
}

.wrapper {
  max-width: 90rem;
  margin: 0 auto;
}
