@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  /* background-color: #eeeeee; */
}

.wrapper {
  max-width: 90rem;
  margin: 0 auto;
}
